.navbar {
  width: 400px;
  display: inline-block;
  float:left;
}

.navbar ul{
	list-style: none;
	
}

.navbar ul li{
	list-style: none;
	display: inline-block;
	float:left;
	margin-right: 10px;
	margin-left: 10px;
}
.navbar_text {
  width: 100%;
  height: 100%;
  text-transform: uppercase; 
  color: white;
  text-decoration: none;
}


