.navbar {
  width: 400px;
  display: inline-block;
  float:left;
}

.navbar ul {
	list-style: none;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	float:left;
	margin-right: 10px;
	margin-left: 10px;
}
.navbar ul li a {
	color: white;
  	text-decoration: none;
}
.navbar_text {
  text-transform: uppercase; 
  color: white;
  text-decoration: none;
}


